<%- include("partials/header") -%>
<h1>Contact</h1>
<p class= "styles"><%= contactContent %></p>
<h3>Social Media:</h3>
<p class = "styles"><%= contactSocials %></p>
<h3>Community Forums:</h3>
<p class = "styles">Coming Soon!</p>
<%- include("partials/footer") -%>
